.main-container {
  background: #f9eec3;
  border: 1px solid gray;
  width: 33rem;
  box-shadow: 0px 2px 3px gray;
  text-align: center;
  margin: 5rem auto;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: #608dd5;


  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    
  }
}
